@model TheGeekStore.Core.Models.PurchaseModel

<h3>Order details</h3>
<hr/>
<div class="row">
    <div class="col-md-3">
        <span class="text text-primary">Order date:</span>
    </div>
    <div class="col-md-9">
        <span class="text text-primary">@Model.PurchaseDate.ToShortDateString() @Model.PurchaseDate.ToShortTimeString()</span>
    </div>
</div>

<hr />
<h4>Shipped to</h4>

<div class="row">
    <div class="col-md-3">
        <span class="text text-primary">Name:</span>
    </div>
    <div class="col-md-9">
        <span class="text text-primary">@Model.FullName</span>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <span class="text text-primary">ATT:</span>
    </div>
    <div class="col-md-9">
        <span class="text text-primary">@Model.AdrAtt</span>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <span class="text text-primary">E-Mail:</span>
    </div>
    <div class="col-md-9">
        <span class="text text-primary">@Model.EMail</span>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <span class="text text-primary">Phone:</span>
    </div>
    <div class="col-md-9">
        <span class="text text-primary">@Model.PhoneNumber</span>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <span class="text text-primary">Street1:</span>
    </div>
    <div class="col-md-9">
        <span class="text text-primary">@Model.AdrStreet1</span>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <span class="text text-primary">Street2:</span>
    </div>
    <div class="col-md-9">
        <span class="text text-primary">@Model.AdrStreet2</span>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <span class="text text-primary">Postal:</span>
    </div>
    <div class="col-md-9">
        <span class="text text-primary">@Model.AdrPostal</span>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <span class="text text-primary">City:</span>
    </div>
    <div class="col-md-9">
        <span class="text text-primary">@Model.AdrCity</span>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <span class="text text-primary">State:</span>
    </div>
    <div class="col-md-9">
        <span class="text text-primary">@Model.AdrState</span>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <span class="text text-primary">Country:</span>
    </div>
    <div class="col-md-9">
        <span class="text text-primary">@Model.AdrCountry</span>
    </div>
</div>

<hr />
<h4>Ordered Items</h4>

<table class="table">
    <tr>
        <th>
            Product number
        </th>
        <th>
            Product
        </th>
        <th>
            Price
        </th>
        <th>
            Amount
        </th>
        <th>Total price</th>
    </tr>

    @foreach (var item in Model.PurchaseItems)
    {
        <tr>
            <td>
                <span>@item.ProductNumber</span>
            </td>
            <td>
                <span>@item.Name</span>
            </td>
            <td>
                <span>$</span><span>@item.Price.ToString("0.00")</span>
            </td>
            <td>
                <span>@item.Count</span>
            </td>
            <td>
                <span>$</span><span>@item.GetTotalPrice().ToString("0.00")</span>
            </td>
        </tr>
    }
</table>

<div class="well well-sm">
    <div class="row">

        <div class="col-md-6 col-md-push-6">
            <div class="row">
                <div class="col-md-6">
                    <span>Cart price:</span>
                </div>
                <div class="col-md-6">
                    <span>$</span><span>@Model.GetCartPrice().ToString("0.00")</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span>Shipping:</span>
                </div>
                <div class="col-md-6">
                    <span>$</span><span>@Model.PriceShipping.ToString("0.00")</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span class="text text-success">Total price:</span>
                </div>
                <div class="col-md-6">
                    <span class="text-success">
                        <span>$</span><span>@Model.GetTotalPrice().ToString("0.00")</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>